 <!DOCTYPE html>
<html>
  <body>
  <a class="button" href="/tasks">Homepage:</a>  
  </body>
</html>
<h1> Welcome to your task manager </h1>  
<br>
<h3> Hi, <%= @user.first_name %> </h3>


 <% if @user.tasks.length>0 %>
     <% @user.tasks.each.with_index(1) do |task,index|%> 
<a class="button" href="/users">Task by:</a>
        <%= @user.first_name %>
  </br>
<%=index%> <a class="button" href="/tasks/<%=task.id%>"><%=task.name%> </a> 

   </br>
Task Description:
        <%= task.description %>
  <br>
<form action= "/tasks/<%=task.id%>" method="Post">  
 <input type="hidden" id="hidden" name="_method" value="delete">      
  <input type="submit" value="delete">  
</form>   

<a class="button" href="/tasks/<%=task.id%>/edit">edit</a>
<br>
  </br>

  <% end %> 
    <% else %>
   <h2> No New Tasks Created. </h2> 
  <% end %>
<br>

 </br>


<br> 



    <form action="/tasks/new" method="Get">
      <input id="submit" type="submit" value="Create New Task">
    </form>
 
</br>


 <!DOCTYPE html>
<html>
  <body>
    <form action="/logout" method="Get">
      <input id="submit" type="submit" value="Logout">
    </form>
  </body>
</html>